<!DOCTYPE html>
<html lang="en">
    <head>
          {{>headerlinks}}
        </head>
        <body>
             {{>navbar}}

                        <!-- main header -->
                        <div class="container-fluid main_header">
                            <div class="row">
                                <div class="col-md-10 col-12 mx-auto">
                                    <div class="row">
                                        <div class="col-md-6 col-12 main_header_right align-items-center">
                                            <figure>
                                                <img src="images/me.png" alt="pdtosky" class="img-fluid" title="pdtosky">
                                            </figure>
                                            </div>
                                        <div class="col-md-6 col-12 main_header_left">
                                            <p class="wel">Welcome to WeatherApp</p><br><br>
                                            <h2 id="mee">Hello! myself
                                                <span class="txt_color">Pankaj Dogra,</span>
                                                </h2>
                                            <h1>I am a 
                                                <span class="txt_color">Web Developer.</span>
                                                </h1>
                                            <a href="https://github.com/toskypd/" target="_blank">
                                                <button>My Github</button>
                                            </a>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer code -->
                        <footer>
                            {{>footer}}
                        </footer>
                       
                    </body>
                </html>
