@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg: #474855;
    --main-color: #507c94;
}

html{
    font-size: 62.5%;
   
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row{
    margin: auto;
}

.main_menu{
    background-color: var(--main-bg);
    
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 3rem 0;
    margin: 0.5rem auto;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a:hover{
    color: var(--main-color);
    transition: 1s;
}
#navbarSupportedContent ul li::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    background: #e0e0e0;
    display: block;
    margin: auto;
    transition: 1s;
}

#navbarSupportedContent ul li:hover::after{
    width: 80%;
}

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}

.navbar-toggler{
   background-color: wheat;
   
   display: block;

}

#mee{
    color: rgb(120, 81, 192);
}

.wel{
    color: rgb(29, 12, 29);
    font-weight: bolder;
}
.fa-snowflake{
    transition: all linear;
    animation: rot 4s linear infinite;
    color: rgba(11, 232, 248, 0.993);
}

.fa-sun{
    transition: all linear;
    animation: rot 4.5s linear infinite;
    color: rgba(235, 192, 0, 0.993);
}

.fa-umbrella{
    transition: all linear;
    animation: rot-stop 5.5s linear infinite;
    color: #fff
}

@keyframes rot{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rot-stop{
    0%{
      transform: rotate(0deg);
    }
    80%, 100%{
      transform: rotate(360deg);
    }
  }

/* main header */



.main_header_left{
    height: 50rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 2rem;
}

.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    
}

.main_header_left .txt_color{
 color: var(--main-color);
}

.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 1.2rem 0.6rem -0.6rem #000;
    outline: none;
}

.main_header_left button:hover{
    box-shadow: 0 0.8rem 0.6rem -0.6rem var(--main-color);
}

.main_header_right{
    height: 50rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* temp details here */


.tempinfo{
    width: 40rem;
    margin: auto;
    margin-top: 2.2rem;
    min-height: 20rem;
    background-color: grey;
    border-radius: 1rem;
    padding: 0.3rem;
     font-family: 'Roboto', sans-serif; 
    
} 

.top_layer{
    width: 100%;
    height: 20%;
    background-color: rgb(71, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    
}

.top_layer p{
    color: white;
    font-weight: 300;
    padding: 2rem;
    font-size: 1.7rem;
}

.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}

.main_layer #city_name{
    padding: 2rem 0;
   color: rgb(6, 21, 29);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    
}

.main_layer .middle_layer{
    display: flex;
justify-content: space-around;
    color: white;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 7rem;
    font-weight: 900;
    
}


.fa{
    color: #0784d8;
}

sup{
    font-size: 6rem;
    margin-top: -2rem;
}

.data_hide{
    visibility: hidden;
    transition: all 0.4s linear;
} 
 /* input fields */

.temp_form{
    width: 60%;
    position: relative;
    margin: 7rem auto 4rem;
}

.temp_form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color: rgb(45, 53, 49);
    color: white;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 3rem;
}

::placeholder{
    color: white;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border: none;
    background-color: #7cb8d4;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.5rem;
}

.temp_form input[type="submit"]:hover{
    color: turquoise;
    background-color: white;
}



/* error page image styling */
.errimg img{
    margin-top: -2.2rem;
    width: 60rem;
    height: 30rem;
    
}

/* footer code */
/* footer{
  background-color: var(--main-bg);
     
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    
} */

footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
    opacity: 0.9;
}

footer p{
    margin: 0;
    text-align: center;
    color: rgb(4, 14, 13);
    line-height: 4rem;
    font-size: 1.4rem;
}

/* responsive code */
@media(max-width:768px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem;
    }

    .temp_form{
        width: auto;
    } 
     .tempinfo{
         width: auto;
     }
}